.graphs-container {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    z-index: 2;
}
.graph-container {
    padding: 16px 32px;
    border: solid 4px grey;
    border-radius: 6px;
    margin: 0px 12px;
}
.subsystem-title {
    color: rgb(250,193,93);
    font-size: 56px;
    margin: 0px;
    font-weight: bold;
    border-style: solid;
    border-color: grey;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 10px;
}
.subsystem-graphs-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.sub-graph-container {
    width: 1000px;
}
.sub-graph {
    width: 1000px;
}


.sub-faults-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 22px;
}
.sub-graphs-title, .sub-faults-title {
    margin-bottom: 18px;
    margin-top: 0px;
    color: rgb(250, 193, 93);
    font-weight: bold;
    text-align: center;
    font-size: 42px;
}
.faults-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.fault-container {
    border: solid 2px grey;
    padding: 14px 20px 20px 20px;
    border-radius: 4px;
}
.fault-basic-container {
    display: flex;
}
.fault-title-container {
    flex: 1;
}
.fault-title-label, .fault-freq-title, .fault-timestamps-title {
    color: rgb(250,193,93);
    font-size: 30px;
    margin: 6px 0px;
    font-weight: bold;
}
.fault-title, .fault-freq-value, .fault-timestamp-value {
    flex: 1;
    color: rgb(155,119,55);
    font-size: 24px;
    margin: 6px 0px;
}
.fault-freq-container {
    flex: 1;
    text-align: right;
}
.fault-timestamp-container {
    display: inline-block;
}
.fault-timestamp-value {
    display: inline-block;
    padding: 0px 4px;
    border: solid 1px grey;
    font-size: 18px;
}

.sub-fault-browse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.sub-fault-browse-label {
    color: rgb(250,193,93);
    font-size: 18px;
}
.sub-fault-back, .sub-fault-next {
    padding: 8px 14px;
    border: solid 2px grey;
    border-radius: 4px;
    color: rgb(250,193,93);
    text-decoration: none;
    font-size: 22px;
    transition: all 0.25s ease-in-out;
}
.sub-fault-back:hover {
    background-color: red;
}
.sub-fault-next:hover {
    background-color: green;
}
.grey-hover {
    background-color: grey;
    opacity: 0.375;
}
.grey-hover:hover {
    background-color: grey;
}


.sub-percents-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sub-health-title, .sub-perf-title {
    color: rgb(250,193,93);
    font-size: 26px;
    margin: 6px 0px;
}
.sub-health-label, .sub-perf-label {
    font-weight: bold;
}
.sub-health-progress-circle, .sub-perf-progress-circle {
    width: 166px;
    height: 166px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
}
.sub-health-progress-circle {
    background: conic-gradient(
        red calc(var(--progress) * 1%), 
        lightgray 0
    );
}
.sub-perf-progress-circle {
    background: conic-gradient(
        green calc(var(--progress) * 1%), 
        lightgray 0
    );
}

.sub-health-container, .sub-perf-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.sub-progress-container {
    text-align: center;
}
.sub-suggestion-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-suggestion-reveal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: none;
    background: transparent;
    transition: all 0.25s ease-in-out;
}
.sub-suggestion-reveal:hover {
    opacity: 0.6;
}
.sub-suggestion-img {
    width: 100px;
    margin-top: 40px;
}
.sub-suggestion-text-hidden {
    color: rgb(250,193,93);
    height: 0;
    margin: 0;
    opacity: 0;
    font-size: 0;
}
.sub-suggestion-text-show {
    font-size: 16px;
    width: 150px;
    opacity: 1;
}


.suggestion-robot-container {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 32px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 28, 62);
    border: solid 5px rgb(60, 60, 60);
    border-right-width: 3px;
    border-bottom-width: 3px;
    transition: all 0.175s ease-in-out;
}
.container-hide {
    opacity: 0;
    z-index: 0;
}
.container-show {
    opacity: 1;
    z-index: 99;
}

.suggestion-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.suggestion-robot-img {
    width: 250px;
}

.wrench-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.suggestion-wrench-img {
    width: 200px;
    height: 160px;
}
.wrench-text {
    color: rgb(250, 193, 93);
    font-size: 30px;
    font-weight: bold;
    margin: -12px 0 12px 0;
}

.suggestion-robot-text {
    color: rgb(186, 143, 67);
    width: 520px;
    height: 300px;
    overflow-y: scroll;
    font-size: 18px;
    padding: 0 8px;
    border: solid 3px rgb(155, 119, 55);
}

.suggestion-close-container {
    position: fixed;
    bottom: 612px;
    right: 592px;
}
.suggestion-close-btn {
    color: rgb(250, 193, 93);
    border: solid 3px black;
    border-radius: 50%;
    font-weight: bold;
    font-size: 30px;
    padding: 8px 20px;
    background-color: rgb(40, 40, 80);
    position: fixed;
    margin-left: -52px;
    margin-top: -82px;
}
.button-hide {
    opacity: 0;
    z-index: 0;
}
.button-show {
    opacity: 1;
    z-index: 100;
}


.no-data-container {
    text-align: center;
    display: flex;
    justify-content: center;
}
.no-data-title {
    color: rgb(250,193,93);
    font-size: 42px;
    font-weight: bold;
}
.no-data-label {
    color: rgb(250,193,93);
    font-size: 32px;
}