.flexer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.gridder {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.title-container {
    border-bottom: solid 1px rgb(250,193,93);
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    width: 69%;
    margin-bottom: 50px;
}
.title {
    color: rgb(250,193,93);
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.description {
    color: rgb(186,143,67);
    font-size: 42px;
    margin-top: 14px;
    margin-bottom: 50px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 50px;
}
.element-container, .element-container-using, .element-container-long, .element-container-radio {
    align-content: center;
}
.element-container {
    margin-bottom: 10px;
}
.element-container-using {
    margin-bottom: 36px;
}
.element-container-long {
    margin-bottom: 54px;
}
.element-container-radio {
    margin-top: 6%;
    margin-bottom: 100px;
}
.element-container-none {
    height: 0;
}
.image-container {
    width: 65.5%;
}
.form-label {
    color: rgb(250,193,93);
    display: block;
    font-size: 56px;
}
.input-none {
    opacity: 0;
}
.form-input {
    font-size: 54px;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.form-radio {
    position: relative;
    scale: 2;
    font-size: 50px;
    margin-top: 18px;
    color: rgb(186,143,67);
}
.form-radio-button {
    position: relative;
    top: -8px;
    left: -8px;
    scale: 4;
    margin-right: 10px;
}
.submit-btn {
    background-color: rgb(255, 209, 130);
    color: black;
    border: solid 2px white;
    border-radius: 20px;
    padding: 8px 0px 8px 0px;
    margin-top: 36px;
    width: 50%;
    font-size: 56px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.submit-btn:hover {
    scale: 110%;
}