{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vigil Analyze</title>
        <link rel="stylesheet" href="{% static 'analyzeform/styles/general.css' %}">
        <link rel="stylesheet" href="{% static 'analyzeform/styles/form.css' %}">
        <link rel="stylesheet" href="{% static 'analyzeform/styles/navbar.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script defer src="{% static 'analyzeform/js/home.js' %}"></script>
    </head>
    <body>
        <main>
            <nav class="navbar" id="home">
                <div class="name-container">
                    <a class="name kanit" href="{% url 'home' %}">
                        VIGIL
                    </a>
                </div>
                <div class="links-container">
                    {% if user.is_authenticated %}
                        <div class="link-container">
                            <a class="link" href="{% url 'pastmatches' %}">
                                Past Matches
                            </a>
                        </div>
                        <div class="link-container">
                            <a class="link" href="{% url 'config' %}">
                                Config
                            </a>
                        </div>
                        <div class="link-container">
                            <a class="link" href="{% url 'analyze' %}">
                                Analyze
                            </a>
                        </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <div class="link-container">
                            <a class="signin kanit" href="{% url 'login' %}">
                                SIGN IN
                            </a>
                        </div>
                    {% else %}
                        <div class="link-container">
                            <a class="link" href="{% url 'logout' %}">
                                Logout
                            </a>
                        </div>
                    {% endif %}
                </div>
            </nav>
            {% if user.is_authenticated %}
                <section>
                    <div class="flexer">
                        <div class="gridder">
                            <div class="title-container">
                                <p class="title">
                                    Add a File to Analyze
                                </p>
                                <p class="description">
                                    Please fill out the form below to begin analyzing a match.
                                </p>
                            </div>
                            <form class="form-container" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="element-container-none">
                                    <input class="input-none" type="text" value="{{ name }}" name="CreatedBy">
                                </div>
                                <div class="element-container-using">
                                    <select class="input-none" name="CurrentConfig" id="id_CurrentConfig">
                                        <option value="{{currconfig.id}}" selected>
                                            {{currconfig}}
                                        </option>
                                    </select>
                                    <label class="form-label">Using Config:</label>
                                    <label class="form-label">{{currconfig.SubsystemConfig}} - {{currconfig.RobotConfig}}</label>
                                </div>
                                <div class="element-container">
                                    <label class="form-label" for="CompName">Competition Name</label>
                                    <input class="form-input" type="text" required value="Name" name="CompName">
                                </div>
                                <div class="element-container">
                                    <label class="form-label" for="MatchNumber">Match Number</label>
                                    <input class="form-input" type="number" required value=0 name="MatchNumber">
                                </div>
                                <div class="element-container image-container">
                                    <label class="form-label" for="AnalyzeFile">File To Analyze</label>
                                    <input class="form-input" type="file" required name="AnalyzeFile">
                                </div>
                                <button class="submit-btn">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </section>
            {% else %}
                <section class="login-request-container">
                    <a class="login-request" href="{% url 'login' %}">
                        Please login to gain access to this content.
                    </a>
                </section>
            {% endif %}
        </main>
    </body>
</html>