{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vigil Analyze</title>
        <link rel="stylesheet" href="{% static 'analyzematch/styles/general.css' %}">
        <link rel="stylesheet" href="{% static 'analyzematch/styles/graphs.css' %}">
        <link rel="stylesheet" href="{% static 'analyzematch/styles/navbar.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script defer src="{% static 'analyzematch/js/home.js' %}"></script>
    </head>
    <body>
        <main>
            <nav class="navbar" id="home">
                <div class="name-container">
                    <a class="name kanit" href="{% url 'home' %}">
                        VIGIL
                    </a>
                </div>
                <div class="links-container">
                    {% if user.is_authenticated %}
                        <div class="link-container">
                            <a class="link" href="{% url 'pastmatches' %}">
                                Past Matches
                            </a>
                        </div>
                        <div class="link-container">
                            <a class="link" href="{% url 'config' %}">
                                Config
                            </a>
                        </div>
                        <div class="link-container">
                            <a class="link" href="{% url 'analyze' %}">
                                Analyze
                            </a>
                        </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <div class="link-container">
                            <a class="signin kanit" href="{% url 'login' %}">
                                SIGN IN
                            </a>
                        </div>
                    {% else %}
                        <div class="link-container">
                            <a class="link" href="{% url 'logout' %}">
                                Logout
                            </a>
                        </div>
                    {% endif %}
                </div>
            </nav>
            {% if user.is_authenticated %}
                <section class="graphs-container" style="margin-bottom: 100px;">
                    {% for sub, group in grouping.items %}
                        <div class="graph-container">
                            <p class="subsystem-title kanit">
                                {{sub}}
                            </p>
                            <div class="subsystem-graphs-container">
                                <div class="sub-graph-container">
                                    {% if group.0|safe != 'None' %}
                                        <div class="sub-graph">
                                            {{group.0|safe}}
                                        </div>
                                    {% else %}
                                        <div class="no-data-container" style="width: 1000px;">
                                            <div>
                                                <p class="no-data-title kanit" style="width: 900px;">
                                                    Subsystem Graphing:
                                                </p>
                                                <p class="no-data-label kanit" style="width: 600px;">
                                                    No graph data has been detected for this subsystem 
                                                    from this match.
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sub-faults-container">
                                    <p class="sub-faults-title kanit">
                                        Subsystem Faults:
                                    </p>
                                    {% if group.1.0 %}
                                        <div class="faults-container">
                                            {% for fault in group.1 %}
                                                {% if fault.isactive %}
                                                    <div class="fault-container">
                                                        <div class="fault-basic-container">
                                                            <div class="fault-title-container">
                                                                <p class="fault-title-label kanit">
                                                                    Fault
                                                                </p>
                                                                <p class="fault-title kanit">
                                                                    {{fault.title}}
                                                                </p>
                                                            </div>
                                                            <div class="fault-freq-container">
                                                                <p class="fault-freq-title kanit">
                                                                    Fault Count
                                                                </p>
                                                                <p class="fault-freq-value kanit">
                                                                    {{fault.freq}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="fault-timestamps-container">
                                                            <p class="fault-timestamps-title kanit">
                                                                Fault Timestamps
                                                            </p>
                                                            {% for timestamp in fault.timestamps %}
                                                                <div class="fault-timestamp-container">
                                                                    <p class="fault-timestamp-value kanit">
                                                                        {{timestamp}}
                                                                    </p>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% if group.1.1 %}
                                            <div class="sub-fault-browse">
                                                {% if reachedback %}
                                                    <p class="sub-fault-back kanit grey-hover">
                                                        Back
                                                    </p>
                                                {% else %}
                                                    {% if sub == subsystem %}
                                                        <a class="sub-fault-back kanit" href="{% url 'analyzematchswitch' subsystem=sub fault_idx=backfaultidx %}">
                                                            Back
                                                        </a>
                                                    {% else %}
                                                        <p class="sub-fault-back kanit grey-hover">
                                                            Back
                                                        </p>
                                                    {% endif %}
                                                {% endif %}
                                                
                                                {% if sub == subsystem %}
                                                    <p class="sub-fault-browse-label kanit">
                                                        Fault {{fault_idx}} of {{group.1|length}}
                                                    </p>
                                                {% else %}
                                                    <p class="sub-fault-browse-label kanit">
                                                        Fault 1 of {{group.1|length}}
                                                    </p>
                                                {% endif %}
                                                
                                                {% if reachedfront %}
                                                    {% if sub == subsystem %}
                                                        <p class="sub-fault-next kanit grey-hover">
                                                            Next
                                                        </p>
                                                    {% else %}
                                                        <a class="sub-fault-next kanit" href="{% url 'analyzematchswitch' subsystem=sub fault_idx=1 %}">
                                                            Next
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    {% if sub == subsystem %}
                                                        <a class="sub-fault-next kanit" href="{% url 'analyzematchswitch' subsystem=sub fault_idx=nextfaultidx %}">
                                                            Next
                                                        </a>
                                                    {% else %}
                                                        <a class="sub-fault-next kanit" href="{% url 'analyzematchswitch' subsystem=sub fault_idx=1 %}">
                                                            Next
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="no-data-container">
                                            <p class="no-data-label kanit">
                                                No fault data has been detected for this subsystem 
                                                from this match.
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sub-percents-container">
                                    <div class="sub-health-container" style="margin-bottom: 20px;">
                                        {% if group.2 %}
                                            <div class="sub-progress-container">
                                                <p class="sub-health-title kanit">
                                                    Health
                                                </p>
                                                <div class="sub-health-progress-circle" style="--progress: {{group.3}};">
                                                    <p class="sub-health-label kanit">
                                                        {{group.3}}%
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="sub-suggestion-container">
                                                <button class="sub-suggestion-reveal" onclick="toggleSuggestion(this)">
                                                    <img class="sub-suggestion-img" src="{% static 'images/vigilrobot.png' %}" alt="">
                                                    <p class="sub-suggestion-text-hidden kanit">
                                                        {{group.5}}
                                                    </p>
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="sub-perf-container">
                                        {% if group.3 %}
                                            <div class="sub-progress-container">
                                                <p class="sub-perf-title kanit">
                                                    Performance
                                                </p>
                                                <div class="sub-perf-progress-circle" style="--progress: {{group.2}};">
                                                    <p class="sub-perf-label kanit" for="sub-perf">
                                                        {{group.2}}%
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="sub-suggestion-container">
                                                <button class="sub-suggestion-reveal" onclick="toggleSuggestion(this)">
                                                    <img class="sub-suggestion-img" src="{% static 'images/vigilrobot.png' %}" alt="">
                                                    <p class="sub-suggestion-text-hidden kanit">
                                                        {{group.4}}
                                                    </p>
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
                <div class="suggestion-robot-container container-hide">
                    <div class="suggestion-images-container">
                        <img class="suggestion-robot-img" src="{% static 'images/vigilrobot.png' %}" alt="">
                        <div class="wrench-container">
                            <img class="suggestion-wrench-img" src="{% static 'images/wrench.png' %}" alt="">
                            <p class="wrench-text kanit">
                                Fix Suggestions
                            </p>
                        </div>
                    </div>
                    <p class="suggestion-robot-text kanit">
                        filler text
                    </p>
                </div>
                <div class="suggestion-close-container container-hide">
                    <button class="suggestion-close-btn button-hide kanit" onclick="toggleSuggestion(this)">
                        X
                        <p class="sub-suggestion-text-hidden kanit">
                            filler text
                        </p>
                    </button>
                </div>
                <script>
                    function toggleSuggestion(button) {
                        const text = button.querySelector(".sub-suggestion-text-hidden").innerHTML;
                        const container = document.querySelector(".suggestion-robot-container");
                        const closeContainer = document.querySelector(".suggestion-close-container");
                        const closeButton = document.querySelector(".suggestion-close-btn");
                        const textElement = document.querySelector(".suggestion-robot-text");
                        
                        container.classList.toggle("container-hide");
                        container.classList.toggle("container-show");
                        closeContainer.classList.toggle("container-hide");
                        closeContainer.classList.toggle("container-show");
                        closeButton.classList.toggle("button-hide");
                        closeButton.classList.toggle("button-show");
                        
                        if (container.classList.contains("container-show")) {
                            textElement.innerHTML = text;
                        } else {
                            textElement.innerHTML = "";
                        }
                    }
                </script>
            {% else %}
                <section class="login-request-container">
                    <a class="login-request" href="{% url 'login' %}">
                        Please login to gain access to this content.
                    </a>
                </section>
            {% endif %}
        </main>
    </body>
</html>