{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vigil Analyze</title>
        <link rel="stylesheet" href="{% static 'analyzematch/styles/general.css' %}">
        <link rel="stylesheet" href="{% static 'analyzematch/styles/graphs.css' %}">
        <link rel="stylesheet" href="{% static 'analyzematch/styles/navbar.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script defer src="{% static 'analyzematch/js/home.js' %}"></script>
    </head>
    <body>
        <main>
            <nav class="navbar" id="home">
                <div class="name-container">
                    <a class="name kanit" href="{% url 'home' %}">
                        VIGIL
                    </a>
                </div>
                <div class="links-container">
                    {% if user.is_authenticated %}
                        <div class="link-container">
                            <a class="link" href="{% url 'pastmatches' %}">
                                Past Matches
                            </a>
                        </div>
                        <div class="link-container">
                            <a class="link" href="{% url 'config' %}">
                                Config
                            </a>
                        </div>
                        <div class="link-container">
                            <a class="link" href="{% url 'analyze' %}">
                                Analyze
                            </a>
                        </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <div class="link-container">
                            <a class="signin kanit" href="{% url 'login' %}">
                                SIGN IN
                            </a>
                        </div>
                    {% else %}
                        <div class="link-container">
                            <a class="link" href="{% url 'logout' %}">
                                Logout
                            </a>
                        </div>
                    {% endif %}
                </div>
            </nav>
            {% if user.is_authenticated %}
                <section class="graphs-container">
                    {% for sub, group in grouping.items %}
                        <div class="graph-container">
                            <p class="subsystem-title kanit">
                                {{sub}}
                            </p>
                            <div class="subsystem-graphs-container">
                                <div class="sub-graph-container">
                                    <p class="sub-graphs-title kanit">
                                        Graphs:
                                    </p>
                                    {% if group.0|safe != 'None' %}
                                        <div class="sub-graph">
                                            {{group.0|safe}}
                                        </div>
                                    {% else %}
                                        <div class="no-data-container" style="width: 1000px;">
                                            <p class="no-data-label kanit">
                                                No graph data has been detected for this subsystem 
                                                from this match.
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sub-faults-container">
                                    <p class="sub-faults-title kanit">
                                        Subsystem Faults:
                                    </p>
                                    {% if group.1.0 %}
                                        <div class="faults-container">
                                            {% for fault in group.1 %}
                                                {% if fault.isactive %}
                                                    <div class="fault-container">
                                                        <div class="fault-basic-container">
                                                            <div class="fault-title-container">
                                                                <p class="fault-title-label kanit">
                                                                    Fault
                                                                </p>
                                                                <p class="fault-title kanit">
                                                                    {{fault.title}}
                                                                </p>
                                                            </div>
                                                            <div class="fault-freq-container">
                                                                <p class="fault-freq-title kanit">
                                                                    Fault Count
                                                                </p>
                                                                <p class="fault-freq-value kanit">
                                                                    {{fault.freq}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="fault-timestamps-container">
                                                            <p class="fault-timestamps-title kanit">
                                                                Fault Timestamps
                                                            </p>
                                                            {% for timestamp in fault.timestamps %}
                                                                <div class="fault-timestamp-container">
                                                                    <p class="fault-timestamp-value kanit">
                                                                        {{timestamp}}
                                                                    </p>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% if group.1.1 %}
                                            <div class="sub-fault-browse">
                                                <a class="sub-fault-back kanit" href="{% url 'analyzematchswitch' subsystem=sub fault_idx=backfaultidx %}">
                                                    Back
                                                </a>
                                                <a class="sub-fault-next kanit" href="{% url 'analyzematchswitch' subsystem=sub fault_idx=nextfaultidx %}">
                                                    Next
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="no-data-container">
                                            <p class="no-data-label kanit">
                                                No fault data has been detected for this subsystem 
                                                from this match.
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sub-percents-container">
                                    <div class="sub-health-container" style="margin-bottom: 8px;">
                                        {% if group.2 %}
                                            <p class="sub-health-title kanit">
                                                Health
                                            </p>
                                            <div class="sub-health-progress-circle" style="--progress: {{group.2}};">
                                                <p class="sub-health-label kanit">
                                                    {{group.2}}%
                                                </p>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="sub-perf-container">
                                        {% if group.3 %}
                                            <p class="sub-perf-title kanit">
                                                Performance
                                            </p>
                                            <div class="sub-perf-progress-circle" style="--progress: {{group.3}};">
                                                <p class="sub-perf-label kanit" for="sub-perf">
                                                    {{group.3}}%
                                                </p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            {% else %}
                <section class="login-request-container">
                    <a class="login-request" href="{% url 'login' %}">
                        Please login to gain access to this content.
                    </a>
                </section>
            {% endif %}
        </main>
    </body>
</html>