.navbar {
    margin-top: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(44,28,62);
    z-index: 100;
}
.name-container {
    margin-left: 20px;
}
.name, .signin {
    color: rgb(250,193,93);
    text-decoration: none;
    letter-spacing: 5px;
    transition: all 0.25s ease-in-out;
}
.name {
    font-size: 36px;
}
.name:hover {
    font-size: 38px;
}
.links-container {
    margin-right: 20px;
    display: flex;
    align-content: center;
}
.link-container {
    display: grid;
    width: 1fr;
    height: 50px;
    margin-left: 20px;
    align-items: center;
}
.link {
    color: rgb(250,193,93);
    font-size: 20px;
    transition: all 0.25s ease-in-out;
}
.link:hover {
    font-size: 22px;
}
.small-logo {
    width: 150px;
    height: 48px;
    margin-top: 3px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    object-fit: cover;
}
.small-logo:hover {
    width: 155px;
    height: 52px;
}
.signin {
    font-size: 30px;
}
.signin:hover {
    font-size: 32px;
}




@media (min-width: 436px) {
    .link {
        font-size: 20px;
    }
}
@media (max-width: 435px) and (min-width: 357px) {
    .link {
        font-size: 14px;
    }
}
@media (max-width: 356px) {
    .link {
        font-size: 8px;
    }
}