.header-container {
    display: grid;
    width: auto;
    text-align: right;
}
.intro-container {
    display: inline-block;
    align-content: center;
}
.name-label, .spec-label {
    margin-right: 50px;
}
.name-label {
    color: rgb(186,143,67);
    margin-top: 0px;
    font-size: 110px;
    font-weight: bold;
    margin-bottom: 0px;
}
.spec-label {
    color: rgb(125,95,42);
    margin-top: 28px;
    font-size: 40px;
}
.logo-container {
    align-content: center;
    display: inline-block;
}
.logo {
    max-width: 100%;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
}
.logo:hover {
    max-width: 105%;
}





@media (min-width: 1070px) {
    .logo-container {
        width: auto;
        height: auto;
    }
    .header-container {
        grid-template-columns: 1fr 2fr;
        height: 900px;
    }
}
@media (max-width: 1070px) {
    .logo-container {
        width: 0;
        height: 0;
    }
    .header-container {
        grid-template-columns: 1fr;
        height: 750px;
    }
    .name-label, .spec-label {
        text-align: center;
        margin-right: 0px;
    }
}